*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Nechua;
    src: url(../Imagenes/Neucha-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

header {
    grid-area: header;
    background-color: hwb(0 0% 100%);
    padding: 30px;
    height: 90px;
}

nav {
    display: flex;
    justify-content: right;
    flex-direction: left;
    align-items: center;
    font-family: Nechua;
}
nav a {
    color: #ffff;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    flex-direction: left;
    justify-content: center;
    align-items: center;
}

nav ul a {
    color: #ffff;
    font-size: 20px;
}

.Comienzodepag{ 
    left: 125px;
    position: absolute;
    font-size: 40px;
    top: 25px;
}

.LogoComienzodepag {
    position: absolute;
    left: 50px;
    top: 19px;
}
.LogoComienzodepag img {
    width: 70px;
    height: 70px;
}
@media screen and (max-width: 900px) {
    header{
        height: 200px;
    }
    ul{
        display:flex;
        flex-direction: row-reverse;
        padding-top: 70px;
        display: flex;
        flex-direction: row;
        padding-top: 70px;
        align-items: baseline;
        justify-content: center;
        flex-wrap: wrap
        
    }
    .MensajeEntrada{
        max-width: 100%; 
         width: 80%; 
         height: auto; 

    }
}

@media screen and (max-width: 420px){
    ul li a {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
}

svg {
    height: 100px;
    width: 100px;
}
 .casifooter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
 }